.overflow-custom {
   overflow: auto;
   box-sizing: border-box;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.overflow-custom::-webkit-scrollbar {
   -webkit-appearance: none;
}

.overflow-custom::-webkit-scrollbar:vertical {
   width: 6px;
}

.overflow-custom::-webkit-scrollbar-button:increment,
.overflow-custom::-webkit-scrollbar-button {
   display: none;
}

.overflow-custom::-webkit-scrollbar:horizontal {
   height: 6px;
}

.overflow-custom::-webkit-scrollbar-thumb {
   background-color: #797979;
   border-radius: 20px;
}

.overflow-custom::-webkit-scrollbar-track {
   border-radius: 5px;
}

.overflow-custom {
   /*Estilos estándar experimentales (Principalmente Firefox)*/
   scrollbar-color: rgba(7, 89, 133, 0.37) rgba(0, 0, 0, 0);
   /* scrollbar-width: thin; */
}
